.pageCities{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    position: relative;
}
/*? Se obscurecera un poco el background para mejor lectura del texto */
.pageCities::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.28);
}

.heroCities h3, .heroCities p{
    text-shadow: 0 0 15px grey, 3px 3px 15px grey;
    font-weight: bold lighter ;
    font-style: italic;
}
.heroCities h3{
    -webkit-text-stroke: thin black;
}
.heroCities p{
    -webkit-text-stroke: thin black;
    font-size: 1.29rem;
    font-weight: bold;
}

.cardCity{
    border: none;
    text-align: center;
    box-shadow: 5px 5px 8px black;
    transition-duration: .7s;
}

.cardCity:hover{
    outline: solid 2px rgb(55, 214, 250);
    box-shadow: 0 0 9px rgb(104, 226, 254), 0 0 12px rgb(104, 226, 254), 0 0 15px rgb(104, 226, 254);
}

.viewCity{
    background-color: rgba(0, 0, 0, 0.4);;
}

