.pageCities{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

.heroCities h3, .heroCities p{
    text-shadow: 0 0 15px grey, 3px 3px 15px grey;
    font-weight: bold lighter ;
    font-style: italic;
}
.heroCities h3{
    -webkit-text-stroke: thin black;
}
.heroCities p{
    -webkit-text-stroke: thin black;
    font-size: 1.29rem;
    font-weight: bold;
}

.cardCity{
    border: none;
    text-align: center;
    transition-duration: .7s;
}

.cardCity:hover{
    outline: solid 3px orange;
    box-shadow: 0 0 10px orange, 0 0 10px orange, 0 0 15px yellow;
}
/* .bDetails{
    display: none;
}
.cardCity:hover .bDetails{
    display: block;
} */
