.buttonCall{
    background-color: rgba(0, 0, 0, 0.85);
    width: 19rem;
    border: outset 3px red;
    border-radius: 28px;
    font-weight: 800;
    font-size: 1.25rem;
    font-style: oblique;
    animation: animCallAction 5s linear infinite ;
}
.buttonCall:hover{
    text-transform: uppercase;
}

@keyframes animCallAction {
    /* 0%{ box-shadow: 0 0 5px orange} */
    15%{ box-shadow: 0 0 21px red, 0 0 21px red;}
    50%{ box-shadow: 0 0 21px rgb(37, 246, 37), 0 0 21px green;}
    85%{ box-shadow: 0 0 21px rgb(2, 95, 255), 0 0 21px blue;}
    /* 100%{ box-shadow: 0 0 5px orange;} */


}