.buttonCall{
    border-radius: 28px;
    font-weight: 800;
    animation: animCallAction 5s linear infinite ;
}

@keyframes animCallAction {
    0%{ box-shadow: 0 0 18px rgb(1, 218, 110), 0 0 18px rgb(1, 218, 110);}
    /* 30%{ box-shadow: 0 0 18px rgb(176, 50, 243), 0 0 18px rgb(176, 50, 243);} */
    50%{ box-shadow: 0 0 18px rgb(50, 118, 255), 0 0 18px rgb(50, 118, 255);}
    100%{ box-shadow: 0 0 18px rgb(1, 218, 110), 0 0 18px rgb(1, 218, 110);}
}