.bgCityDetail {
    background-image: linear-gradient(169deg, #03232f 33%, #0095cb 60%);
    background-size: 300%;
    animation: animBG 30s infinite;
}

@keyframes animBG {
    0% {
        background-position: start;
    }
    50% {
        background-position: center;
    }
    100% {
        background-position: end;
    }
}

.detailCity {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.detailCity::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.6) 70%, rgb(3, 35, 47) 95%);
}

h2,
p {
    position: relative;
    text-wrap: balance;
}

.heroDetail {
    position: relative;
}

.infoItinerary p {
    line-height: 1;
    margin: 0;
}

.infoItinerary {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.infoItinItem {
    background-color: rgb(12, 121, 97);
    padding: 9px 20px;
    width: auto;
    border-radius: 20px;
    outline: 3px solid rgb(24, 211, 171);
    box-shadow: 0 0 5px inset rgb(18, 175, 141), 0 0 6px inset rgb(18, 175, 141);
}

.userNameIti {
    -webkit-text-stroke: thin black;
}

.accordion-button {
    padding: 5px 20px;
    border: none;
}