header{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Para aplicar efecto de difuminado al bg del nav */
.navjose{
    background-color: #0000005c;
    z-index: 10;
    backdrop-filter: blur(7px); 
    border-radius: 0 0 15px 15px;
}
/* Para cambiar el color del button toggle en responsive */
.navbar-toggler-icon{
    filter: invert(1);
}


/* header nav button{
    padding: .3rem .5rem;
} */
header nav .nav-item a{
    text-decoration: none;
    color: white;
    /* padding-right: 1.9rem; */
    padding: 0 10px;
}
header nav .active {
    text-transform: uppercase;
}
header nav .nav-item :hover{
    text-decoration: underline;
    /* text-decoration: wavy; */
    text-underline-offset: 3px;
}

header img{
    height: 2rem;
}

/* Centrara los link del nav en responsive */
header .nav-link a{
    text-align: center;
    display: block;
}

@media only screen and (max-width: 510px) {  
    header h3 {
        display: none;
    }

    header nav a{
        padding-right: .7rem;
    }
}