.main{
    background-color: rgba(189, 227, 240, 0.895);
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h4{
    color: whitesmoke;
    text-shadow: 0 0 2px rgb(42, 230, 255),0 0 3px rgb(42, 230, 255), 0 0 5px rgb(255, 0, 0);
    font-size: 1.6rem;
}

.hero .hero-article{
    background-color: rgb(21, 123, 141);
    border-radius: 1rem;
}
.hero .hero-img img{
    object-fit: contain;
    max-width: 80%;
    border-radius: .5rem;
}