section{
    background-color: rgb(249, 242, 186);
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .hero{
    background-color: blueviolet;
} */

.hero .hero-article{
    background-color: rgb(246, 151, 151);
    border-radius: 1rem;
}
.hero .hero-img img{
    object-fit: contain;
    max-width: 80%;
    border-radius: .5rem;
}

#caro1, #caro2, #caro3 {
    width: 100vw;
    height: 100vh;
}
#caro1 {
    background-color: red;
}
#caro2 {
    background-color: blue;
}
#caro3 {
    background-color: rgb(68, 247, 28);
}