
header{
  position: relative;
  
}

section{
  padding: 4.5rem 0 3rem;
}
section{
  background-color: rgb(3, 14, 41);
  min-height: 92vh;
  background-image: linear-gradient(180deg, #112243 15%, #1f4382 50%, #13264b 90%);
  /* background-image: radial-gradient(circle, #2a5298 14%, #162f59 59%); */

  /* animation: animBG 30s infinite; */
}

@keyframes animBG {
  0%{background-position: start;}
  50%{background-position: center;}
  100%{background-position: end;}
}


/*! codigo para editar la barra de scroll  */
body::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #03232f ;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #0b6589 ;    /* color of the scroll thumb */
  border-radius: 25px;       /* roundness of the scroll thumb */
  border: 2px solid #0b8dc1;  /* creates padding around scroll thumb */
}

