
header{
  position: relative;
  
}

section{
  padding: 2rem 0;
}
section{
  background-image: linear-gradient(120deg, rgb(0, 125, 179) 20%, #e0006c 55%, rgba(27, 173, 236, 0.9) 90%);
  background-size: 300%;
  /* animation: animBG 30s infinite; */
}

@keyframes animBG {
  0%{background-position: start;}
  50%{background-position: center;}
  100%{background-position: end;}
}
