
.carousel .carousel-indicators button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.img-caro{
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
.img-caro img{
    width: 80%;
    height: 100%;
    object-fit: contain;
    /* object-position: center; */
}

.item4Carousel{
    background-color: black;
}